@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Racetrack") {
  <p>Playerregistration</p>

    <form action="@routes.PlayerController.addPlayer", method="post">
        <input name="name" type="text">
        <input name="token" type="text">
        <button>Register Player</button>
    </form>

    <form action="@routes.GameController.start", method="get">
        <button>Start Game</button>
    </form>

    <ul id="players"></ul>
}
